<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href ="../assets/styles.css">
  </head>
  <body>
    <div class="flex justify-center">
        <div class= "flex-col space-y-12 pt-5">
            <h1 class = "font-bold text-4xl top-6">identify any book in a second!</h1>
    
            <form id="search" class="self-center">
                <input name="query" type="text" placeholder="Search for a quote, text, or keywords" class="w-4/5 h-12 px-4 py-2 text-lg rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            </form>
    
        </div>
    </div>

  </body>
</html>